// 水平方向对齐
.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

// 垂直方向对齐
.top { vertical-align: top; }
.middle { vertical-align: middle; }
.bottom { vertical-align: bottom; }

// block居中
.ma{ margin-left: auto; margin-right: auto;}