// normal

// :hover
.hover {}

// :active
.active {}

// :focus
.focus {}

// [disabled]
.disabled {
  cursor: default !important;
  opacity: 0.5;
  filter: alpha(opacity=50);
}

// [readonly]
.readonly {}

// [multiple]
.multiple {}

// [checked]
.checked {}
