

.textarea ,
.input {
    .inline-block;
    .middle;
    padding: 4px 6px;
    background-color: #fff;
    border: 1px solid #cccccc;
}

.textarea {
    width: 300px;
    height: 100px;
}

.input {
    width: 150px;
}

.input-sm {
    width: 110px;
}

.input-smt {
    width: 70px;
}

.input-mn {
    width: 30px;
}

.input-l {
    width: 190px;
}

.input-lgr {
    width: 240px;
}

.input-lges {
    width: 280px;
}

.input-block {
    display: block;
    width: 100%;
    box-sizing: border-box;
}